.color-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.3rem 1rem;
    color: black;
    font-size: small;
    box-shadow: #cccccc 2px 3px 4px;
}
h2{
    margin: 0;
}
.mainBody {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
.nav{
    display: flex;
    align-items: center;
}
.nav li{
    list-style: none;
}
.nav a{
    display: inline-block;
    margin-left: 1rem;
    color: #375c83;
    font-size: 1rem;

}

button {
    padding: 10px 25px;
    font-size: 20px;
    background-color: #f0f0f0;
    color: black;
    border: black solid 2px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: 0.4s all ease-in-out;
}

button:hover {
    background-color: blueviolet;
    color: white;
    border:white solid 2px ;

}
body,
html {
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
}